<html>
<style>
  .right {
  display: block;
  margin-left: 10;
  margin-right: auto;
  width: 50%;
}
</style>
<body style = "background-color: physician; font-family:Courier; font-size: 20px; align-self: center;">
<img src="template.png" 
       width="50" 
       height="350" 
       alt=""
       class="right"> 
<form action="#", method="post">
	<input type = 'number' name = "age" placeholder="Age in years"><br><br>
	Sex<br>
	<input type="radio" id="male" name="sex" value="2">
  <label for="male">Male</label>
  <input type="radio" id="female" name="sex" value="1">
  <label for="female">Female</label><br><br>
  hat is your Cholesterol level<br>
<input type="radio" id="low" name="cholesterol" value="1">
  <label for="low">Normal/Low</label>
  <input type="radio" id="high" name="cholesterol" value="2">
  <label for="high">High</label>
  <input type="radio" id="very_high" name="cholesterol" value="3">
  <label for="very_high">Very High</label><br><br>
  Do you drink alcohol? <br>
<input type="radio" id="yes" name="alch" value="1">
	<label for="male">Yes</label>
  <input type="radio" id="no" name="alch" value="0">
  <label for="yes">No</label><br><br>
  Do you smoke? <br>
	<input type="radio" id="syes" name="smoke" value="1">
  <label for="syes">Yes</label>
  <input type="radio" id="sno" name="smoke" value="0">
  <label for="sno">No</label><br><br>
  Do you exercise 3 times a week? <br>
<input type="radio" id="ayes" name="active" value="1">
  <label for="ayes">Yes</label>
  <input type="radio" id="ano" name="active" value="0">
  <label for="ano">No</label><br><br>
  What is your Glucose level? <br>
	<input type="radio" id="low" name="gluc" value="1">
  <label for="low">Normal or Low</label>
  <input type="radio" id="high" name="gluc" value="2">
  <label for="high">High</label>
  <input type="radio" id="very_high" name="gluc" value="3">
  <label for="very_high">Very High</label><br><br>
	<input type = 'number' name="systolic" placeholder="systolic blood pressure"><br><br>
	<input type = 'number' name="diastolic" placeholder="diastolic blood pressure"><br><br>
	<input type = 'number' name="height" placeholder="height in cm"><br><br>
	<input type = 'number' name="weight" placeholder="weight in kg"><br><br>
	<button type = "submit"> Predict</button>
</form>
<body style = "background-color: physician; font-family:Courier; color:#12A9E7; font-size: 24px; align-self: center;">
</html>